@model IEnumerable<TmeritFX.Models.ApplicationUser>
@{
    ViewData["Title"] = "Clients";
    //Layout = ViewBag.Layout;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>

    body {
        counter-reset: Serial; /* / Set the Serial counter to 0 /*/
    }

    tr td:first-child:before  {
        counter-increment: Serial; /* / Increment the Serial counter /*/
        content: counter(Serial); /*  / Display the counter /*/
    }
</style>

<!-- Page Header -->
<div class="page-header">
	<div class="row">
		<div class="col-sm-12">
			<h3 class="page-title">Clients List</h3>
		</div>
	</div>
</div>
<!-- /Page Header -->
					

<div class="row">
	<div class="col-md-12">
		@if (@Model.Count() > 0)
		{
			<div class="table-responsive">
				<table class="table table-striped custom-table mb-0 datatable">
					<thead>
						<tr>
							<th>S/n</th>
							<th>Name</th>
							<th>Email</th>
							<th>ReferredBy</th>
							<th class="text-center">Date</th>
							<th>IsActive</th>
							<th class="text-center">Actions</th>
											
						</tr>
					</thead>
					@foreach(var client in Model)
					{
						<tbody>
							<tr>
								<td></td>
								<td>@client.Name</td>
								<td>@client.Email</td>
								<td>@client.RefID</td>
								<td>@client.DateCreated</td>   								
							    <td>@client.IsActive</td>
								@if (@client.IsActive)
								{
									<td><i class="fa fa-toggle-off" style="font-size:35px;color:red" onclick="ActivateAndDeactivateClientPost('DEACTIVATE', '@client.Id')"></i></td>
								}
								else
								{
									<td><i class="fa fa-toggle-on" style="font-size:35px;color:green" onclick="ActivateAndDeactivateClientPost('ACTIVATE', '@client.Id')"></i></td>
								}
						</tbody>
					}
				</table>
			</div>
		}
		else
		{
			<div cclass="row p5 m-5">
				<div class="col-md-12 text-center p-5 m5">
					<h2>No Record Found</h2>
				</div>
			</div>
		}
	</div>
</div>
<!-- /Content End -->

